---
---

@import 'system.base';
@import 'system.theme';

@import 'normalize';
@import 'mothership-default';
@import 'mothership-layout';
@import 'mothership';
@import 'twinspace';

div.siteinfo {
	text-align: center;
}

div.siteinfo img {
	height: 35px;
}

@media only screen and (min-width: 600px) {
	div.siteinfo img {
		margin-left: 120px;
		margin-top: 7px;
	}
}

.home_intro h3 {
	color: #ffffff;
}

#home_video p {
	color: #fff;
}

#home_video > iframe {
  max-width: 90vw;
}
